In [1]:
import numpy as np
import pandas as pd
import scipy
from statsmodels.stats.weightstats import *
from statsmodels.stats.proportion import  proportion_confint

In [2]:
data = pd.read_csv(r'd:\DownLoads\banner_click_stat.txt', header=None,sep='\t')
data.colums = ['banner_a', 'banner_b']

D:\3kurs1sem\IDEs\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [3]:
data.colums = ['banner_a', 'banner_b']

In [4]:
data.head()

   0  1
0  0  0
1  1  1
2  0  0
3  0  0
4  0  0

In [5]:
data.columns

Int64Index([0, 1], dtype='int64')

In [6]:
data.describe()

                 0            1
count  1000.000000  1000.000000
mean      0.037000     0.053000
std       0.188856     0.224146
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     0.000000
75%       0.000000     0.000000
max       1.000000     1.000000

In [7]:
conf_interval_banner_a = proportion_confint(sum(data[0]),data.shape[0],method='wilson')

In [8]:
conf_interval_banner_a

(0.026961180875554734, 0.05058239748206931)

In [9]:
conf_interval_banner_b = proportion_confint(sum(data[1]),data.shape[0],method='wilson')
conf_interval_banner_b

(0.04074650524859452, 0.06867461683749176)