In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv(r'd:\DownLoads\verizon.txt', sep='\t')

In [3]:
data.shape

(1687, 2)

In [4]:
data.head()

    Time Group
0  17.50  ILEC
1   2.40  ILEC
2   0.00  ILEC
3   0.65  ILEC
4  22.23  ILEC

In [5]:
data.Group.value_counts()

ILEC    1664
CLEC      23
Name: Group, dtype: int64

In [6]:
def get_bootstrap_samples(data,n_samples):
    indices = np.random.randint(0,len(data),(n_samples,len(data)))
    samples = data[indices]
    return samples

In [7]:
def stat_intervals(stat,alpha):
    boundaries = np.percentile(stat,[100 * alpha / 2.0, 100 * (1 - alpha / 2.0)])
    return boundaries

In [8]:
ilec_time = data[data.Group == 'ILEC'].Time.values
clec_time = data[data.Group == 'CLEC'].Time.values

In [9]:
np.random.seed(0)

In [10]:
ilec_median_scores = map(np.median, get_bootstrap_samples(ilec_time,1000))
clec_median_scores = map(np.median, get_bootstrap_samples(clec_time,1000))

In [11]:
print(stat_intervals(list(ilec_median_scores),0.05))
print(stat_intervals(list(clec_median_scores),0.05))

[3.18    3.82525]
[ 5.79125 20.     ]

In [12]:
diif_median =np.array(list(clec_median_scores)) -  np.array(list(ilec_median_scores))