In [1]:
import numpy as np
import pandas as pd
import itertools
from scipy import stats
from statsmodels.stats.descriptivestats import sign_test
from statsmodels.stats.weightstats import zconfint
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
weight_data = pd.read_csv(r'd:\DownLoads\weight.txt',sep='\t',header=0)

In [3]:
weight_data.head()

   Before  After
0    80.5   82.2
1    84.9   85.6
2    81.5   81.4
3    82.6   81.9
4    79.9   76.4

In [4]:
weight_data.describe()

          Before       After
count  29.000000   29.000000
mean   82.689655   85.696552
std     4.845495    8.351924
min    70.000000   71.300000
25%    80.400000   81.900000
50%    82.600000   83.900000
75%    85.000000   90.900000
max    94.900000  103.600000

In [5]:
zconfint(weight_data.Before)

(80.92610749911721, 84.45320284571041)

In [6]:
zconfint(weight_data.After)

(82.6568174981233, 88.7362859501525)

In [7]:
sign_test(weight_data.After - weight_data.Before)

(3.5, 0.26493089646101)

In [8]:
stats.wilcoxon(weight_data.After,weight_data.Before)

WilcoxonResult(statistic=131.5, pvalue=0.06291972262602667)

In [9]:
stats.wilcoxon(weight_data.After - weight_data.Before)

WilcoxonResult(statistic=131.5, pvalue=0.06291972262602667)