In [1]:
from collections import Counter, OrderedDict
import numpy as np
import pandas as pd

In [2]:
data_train = pd.read_csv(r'd:\DownLoads\coursera_sessions_train.txt', sep=';', header=None)
train_buys = data_train.iloc[:,1].dropna().values
train_views = data_train.iloc[:,0].values
data_train.head()

                                     0    1
0                          0,1,2,3,4,5  NaN
1                 9,10,11,9,11,12,9,11  NaN
2                    16,17,18,19,20,21  NaN
3                       24,25,26,27,24  NaN
4  34,35,36,34,37,35,36,37,38,39,38,39  NaN

In [3]:
data_test = pd.read_csv(r'd:\DownLoads\coursera_sessions_test.txt', sep=';', header=None)
test_buys = data_test.iloc[:,1].dropna().values
test_views = data_test.iloc[:,0].values
data_test.head()

                   0    1
0              6,7,8  NaN
1           13,14,15  NaN
2              22,23  NaN
3  28,29,30,31,32,33  NaN
4              40,41  NaN

In [4]:
train_views_flatten = [j for i in train_views for j in i.split(',')]

In [5]:
train_buys_flatten = [j for i in train_buys for j in i.split(',')]

In [6]:
len(train_views_flatten)

356177

In [7]:
class OrderedCounter(Counter, OrderedDict):
    'Counter that remembers the order elements are first encountered'

    def __repr__(self):
        return '%s(%r)' % (self.__class__.__name__, OrderedDict(self))

    def __reduce__(self):
        return self.__class__, (OrderedDict(self),)

In [8]:
views_cnt = OrderedCounter(train_views_flatten)
buys_cnt=OrderedCounter(train_buys_flatten)

In [10]:
MAX = len(buys_cnt.keys())
print (MAX)

4479

In [11]:
def recommend_by_popularity(items):
    #remove duplicates
    items = list(set(items))
    scores = []
    orders = []
    for item in items: 
        if not views_cnt.has_key(item):
            scores.append(0)
            orders.append(0)    
        else:
            scores.append(views_cnt[item])
            orders.append(abs(views_cnt.keys().index(item)-MAX))
    #print items
    #print scores
    #print orders*/
    res = [i for (s,o,i) in sorted(zip(scores,orders,items), key=lambda pair: pair[:2], reverse=True)]
    #print res
    return res