In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import scale
from sklearn.grid_search import GridSearchCV

D:\3kurs1sem\IDEs\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
D:\3kurs1sem\IDEs\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
data = pd.read_csv(r'd:\3kurs1sem\semestrone\JUPYTER\ResearchIns\Data\wine.data',header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [4]:
data_target = data[0]

In [5]:
data.drop(0,axis=1, inplace=True)

In [6]:
param_grid = [
  {'n_neighbors': list(range(1,50))}
 ]

In [7]:
knn = KNeighborsClassifier()

In [8]:
knn_grid = GridSearchCV(knn,param_grid,scoring='accuracy',cv=5)

In [9]:
knn_grid.fit(data,data_target)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid=[{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]}],
       pre_dispatch='2*n_jobs', refit=True, scoring='accuracy', verbose=0)

In [10]:
knn_grid.best_score_

0.7247191011235955

In [11]:
scaled_x = scale(data)

In [12]:
knn_grid.fit(scaled_x,data_target)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid=[{'n_neighbors': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]}],
       pre_dispatch='2*n_jobs', refit=True, scoring='accuracy', verbose=0)

In [13]:
knn_grid.best_score_

0.9662921348314607

In [14]:
knn_grid.best_params_

{'n_neighbors': 7}

In [15]:
knn_grid.grid_scores_

[mean: 0.94944, std: 0.04081, params: {'n_neighbors': 1},
 mean: 0.93820, std: 0.04710, params: {'n_neighbors': 2},
 mean: 0.94382, std: 0.04905, params: {'n_neighbors': 3},
 mean: 0.93820, std: 0.05814, params: {'n_neighbors': 4},
 mean: 0.95506, std: 0.03403, params: {'n_neighbors': 5},
 mean: 0.94944, std: 0.04081, params: {'n_neighbors': 6},
 mean: 0.96629, std: 0.02634, params: {'n_neighbors': 7},
 mean: 0.96629, std: 0.03965, params: {'n_neighbors': 8},
 mean: 0.94944, std: 0.03093, params: {'n_neighbors': 9},
 mean: 0.95506, std: 0.03685, params: {'n_neighbors': 10},
 mean: 0.95506, std: 0.02802, params: {'n_neighbors': 11},
 mean: 0.95506, std: 0.03685, params: {'n_neighbors': 12},
 mean: 0.95506, std: 0.03685, params: {'n_neighbors': 13},
 mean: 0.95506, std: 0.03685, params: {'n_neighbors': 14},
 mean: 0.96067, std: 0.02806, params: {'n_neighbors': 15},
 mean: 0.96629, std: 0.02634, params: {'n_neighbors': 16},
 mean: 0.96629, std: 0.02634, params: {'n_neighbors': 17},
 mean: 0.96067, std: 0.03644, params: {'n_neighbors': 18},
 mean: 0.96067, std: 0.02254, params: {'n_neighbors': 19},
 mean: 0.96067, std: 0.02751, params: {'n_neighbors': 20},
 mean: 0.96067, std: 0.02254, params: {'n_neighbors': 21},
 mean: 0.96067, std: 0.02751, params: {'n_neighbors': 22},
 mean: 0.96067, std: 0.02254, params: {'n_neighbors': 23},
 mean: 0.96067, std: 0.02254, params: {'n_neighbors': 24},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 25},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 26},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 27},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 28},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 29},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 30},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 31},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 32},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 33},
 mean: 0.96067, std: 0.02282, params: {'n_neighbors': 34},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 35},
 mean: 0.96067, std: 0.02282, params: {'n_neighbors': 36},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 37},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 38},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 39},
 mean: 0.96067, std: 0.02282, params: {'n_neighbors': 40},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 41},
 mean: 0.95506, std: 0.02245, params: {'n_neighbors': 42},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 43},
 mean: 0.95506, std: 0.02871, params: {'n_neighbors': 44},
 mean: 0.96067, std: 0.02880, params: {'n_neighbors': 45},
 mean: 0.96067, std: 0.02254, params: {'n_neighbors': 46},
 mean: 0.96629, std: 0.02156, params: {'n_neighbors': 47},
 mean: 0.96067, std: 0.02254, params: {'n_neighbors': 48},
 mean: 0.96067, std: 0.02254, params: {'n_neighbors': 49}]