In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack

In [2]:
data_train = pd.read_csv(r'd:\3kurs1sem\semestrone\JUPYTER\ResearchIns\Data\salary-train.csv')

In [3]:
data_test = pd.read_csv(r'd:\3kurs1sem\semestrone\JUPYTER\ResearchIns\Data\salary-test-mini.csv')

In [4]:
data_train['LocationNormalized'].fillna('nan', inplace=True)
data_train['ContractTime'].fillna('nan', inplace=True)
data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)

In [5]:
data_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,nan,20355

In [6]:
enc = DictVectorizer()

In [7]:
X_train_cat = enc.fit_transform(data_train[['LocationNormalized','ContractTime']].to_dict('records'))

In [8]:
X_test_categ = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [9]:
data_train.FullDescription = data_train.FullDescription.apply(lambda x: x.lower())

In [10]:
data_test.FullDescription = data_test.FullDescription.apply(lambda x: x.lower())

In [11]:
data_train['FullDescription'] = data_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)
data_test['FullDescription'] = data_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [12]:
vectorizer = TfidfVectorizer(min_df=5)

In [13]:
data_train_text = vectorizer.fit_transform(data_train.FullDescription)

In [14]:
data_test_text = vectorizer.transform(data_test.FullDescription)

In [15]:
data_train_all = hstack([data_train_text,X_train_cat])

In [16]:
data_tets_all = hstack([data_test_text,X_test_categ])

In [17]:
ridge = Ridge(random_state=241)

In [18]:
ridge.fit(data_train_all,data_train.SalaryNormalized)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=241, solver='auto', tol=0.001)

In [19]:
ridge.predict(data_tets_all)

array([56555.61500155, 37188.32442618])