In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r'd:\3kurs1sem\semestrone\JUPYTER\ResearchIns\Data\titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [5]:
surr = data.Survived.value_counts()
surr

0    549
1    342
Name: Survived, dtype: int64

In [6]:
percentage = surr[1]/surr.sum()
percentage

0.3838383838383838

In [7]:
clases = data.Pclass.value_counts()
clases

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [8]:
perc_class1 = clases[1] / clases.sum()
perc_class1

0.24242424242424243

In [9]:
ages = data.Age
ages_mean = ages.mean()
ages_mean

29.69911764705882

In [10]:
ages_median = ages.median()
ages_median

28.0

In [11]:
data['SibSp'].corr(data['Parch'])

0.4148376986201567

In [12]:
import re
def clean_name(name):
    # Первое слово до запятой - фамилия
    s = re.search('^[^,]+, (.*)', name)
    if s:
        name = s.group(1)

    # Если есть скобки - то имя пассажира в них
    s = re.search('\(([^)]+)\)', name)
    if s:
        name = s.group(1)

    # Удаляем обращения
    name = re.sub('(Miss\. |Mrs\. |Ms\. )', '', name)

    # Берем первое оставшееся слово и удаляем кавычки
    name = name.split(' ')[0].replace('"', '')

    return name


names = data[data['Sex'] == 'female']['Name'].map(clean_name)
name_counts = names.value_counts()
print(name_counts.head(1).index.values[0])

Mary